body {
  display: inline-block;
}

.size {
  min-height: 75px;
  min-width: 350px;
}

#name {
  display: block;
}

#profile {
  display: block;
}

#email {
  display: block;
}

#origin {
  display: block;
}

.color {
  display: block;
}
#add {
  display: block;
}

#skill {
  display: block;
}

#pass {
  display: block;
}

#date {
  display: block;
}

#teach {
  display: block;
}

#dark-side {
  display: block;
}

fieldset {
  display: inline;
  
}

/* Everything under this comment is style for the buttons only */


#reset {
  background-color: #cccccc;
  font-family: Oswald;
}

#apply {
  background-color: #cccccc;
  font-family: Oswald;
}

#reset:hover {
  background: #ff0000;
}

#apply:hover {
  background: #00ff00;
}
