
header {
  border: solid 1px;
  float: left;
}

main {
  border: solid 1px;
  text-align: center;
}

form {
  float: right;
  border: solid 1px;
}

#reset {
  background-color: #cccccc;
  font-family: Oswald;

}

#apply {
  background-color: #cccccc;
  font-family: Oswald;
}

#reset:hover {
  background: red;
}

#apply:hover {
  background: green;
}
